@charset "UTF-8";
/*Tipo*/
@font-face {
  font-family: "Richard Samuels";
  src: url(../assets/ttf/richard_samuels/Richard\ Samuels.otf);
}
@font-face {
  font-family: "Agenor Neue";
  src: url(../assets/ttf/agenor_neue/AgenorNeue-Regular.otf);
}
@font-face {
  font-family: "Abril Fantface";
  src: url(../assets/ttf/abril-fatface/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: "Cabin-Medium";
  src: url(../assets/ttf/cabin/cabin\ font\ v1.5/);
}
@font-face {
  font-family: "Fowviel";
  src: url(../assets/ttf/fowviel/Fowviel.ttf);
}
@font-face {
  font-family: "Aristotelica";
  src: url(../assets/ttf/aristotelica/Aristotelica\ Display\ DemiBold\ Trial.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: #fbe2f9;
  background: repeating-radial-gradient(ellipse farthest-corner at top right, #fbe2f9 2%, #ecbadd 11%, #efb9f1 20%);
  background: -webkit-repeating-radial-gradient(ellipse farthest-corner at top right, #fbe2f9 2%, #ecbadd 11%, #efb9f1 20%);
  background: -moz-repeating-radial-gradient(ellipse farthest-corner at top right, #fbe2f9 2%, #ecbadd 11%, #efb9f1 20%);
  width: 100%;
  margin: 0;
}

.sep-2 {
  border: 0;
  margin: 150px 80px 0;
  height: 2px;
  background-image: linear-gradient(to right, #c451f1, #f855cf, #f3eda0, #e6ccf0);
}

.navbar {
  background-color: rgb(66, 5, 82);
  padding: 20px 12px;
  height: 120px;
  position: relative;
}
.navbar .fi-br-cross {
  display: none;
}
.navbar__logo--img {
  height: 120px;
  width: 120px;
  position: absolute;
  bottom: 0.5px;
  animation-duration: 5s;
  animation-name: animLogo;
  animation-iteration-count: infinite;
}
.navbar__checkbox {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  opacity: 0;
}
.navbar__icons {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  pointer-events: none;
  font-size: 24px;
  color: rgb(207, 163, 207);
}
.navbar__links {
  width: 100%;
  position: absolute;
  top: -250px;
  z-index: -1;
  right: 0px;
  color: rgb(230, 180, 240);
  font-family: "Aristotelica";
  font-size: 20px;
}
.navbar__links li a {
  display: block;
  padding: 10px 15px;
  background-color: rgb(66, 5, 82);
  color: rgb(230, 180, 240);
}
.navbar__links li a:hover, .navbar__links li .servicios .container__card--contenido a:focus, .servicios .container__card--contenido .navbar__links li a:focus {
  text-shadow: 2px 2px 3px rgb(139, 15, 77), 0 0 1em rgb(238, 215, 8), 0 0 0.2em rgb(241, 205, 238);
}
@keyframes animLogo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotateY(360deg);
  }
}

.navbar__checkbox:checked ~ .fi-br-menu-burger {
  display: none;
}

.navbar__checkbox:checked ~ .fi-br-cross {
  display: block;
}

.navbar__checkbox:checked ~ .navbar__links {
  top: 120px;
  z-index: 1;
}

@media (min-width: 900px) {
  .navbar__checkbox,
  .fi-br-menu-burger,
  .fi-br-cross {
    display: none;
  }
  .navbar {
    display: flex;
  }
  .navbar__links {
    display: flex;
    flex-direction: row;
    width: unset;
    position: absolute;
    align-self: center;
    margin-top: 45px;
    top: -0.5px;
    right: 40px;
    z-index: 1;
  }
}
.footer {
  background-color: #790744;
  background-image: linear-gradient(225deg, #790744 0%, #784ba0 33%, #87069e 66%, #3b0554 100%);
  padding: 10px 0px 0;
  font-family: "Aristotelica";
}
.footer__header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 10px;
}
.footer__header--logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__header--logo img {
  width: 50px;
  height: 50px;
}
.footer__header--logo--logotipo {
  font-size: 18px;
  color: rgb(230, 180, 240);
}
.footer__header--redes {
  display: flex;
  /*gap: 10px;*/
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}
.footer__header--redes--fb {
  background: rgb(168, 187, 228);
  padding: 4px;
  border-radius: 25px;
  color: white;
  width: 25px;
  height: 25px;
}
.footer__header--redes--in {
  background: rgb(243, 189, 243);
  padding: 4px;
  border-radius: 25px;
  color: white;
  width: 25px;
  height: 25px;
}
.footer__header--redes--li {
  background: rgb(154, 191, 245);
  padding: 4px;
  border-radius: 25px;
  color: white;
  width: 25px;
  height: 25px;
}
.footer__section {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}
.footer__section h3 {
  color: rgb(245, 156, 240);
  padding: 10px 0;
  font-size: 20px;
  margin-top: 10px;
}
.footer__section a {
  color: rgb(220, 187, 241);
  text-decoration: none;
  padding: 10px;
  margin: 5px;
}
.footer__section a:hover, .footer__section .servicios .container__card--contenido a:focus, .servicios .container__card--contenido .footer__section a:focus, .footer__section a:focus {
  box-shadow: 0 0 0 0 rgb(233, 197, 238), inset 6em 3.5em 0 0 purple;
  color: aliceblue;
}
.footer__section form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__section form input {
  width: 50%;
  height: 30px;
}
.footer__section form button {
  width: 50%;
  padding: 8px;
  background-color: darkmagenta;
  color: white;
  font-family: "Aristotelica";
}
.footer__derechos {
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #230131;
  color: white;
  margin-top: 30px;
  position: sticky;
}

@media (min-width: 900px) {
  .footer__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  .footer__header img {
    width: 100px;
    height: 100px;
  }
  .footer__header--logotipo {
    font-size: 18px;
  }
  .footer__header--redes {
    display: flex;
    gap: 20px;
    padding-right: 30px;
    font-size: 23px;
  }
  .footer__header--redes--fb {
    background: rgb(168, 187, 228);
    padding: 8px;
    border-radius: 50px;
    color: white;
    width: 40px;
    height: 40px;
  }
  .footer__header--redes--in {
    background: rgb(243, 189, 243);
    padding: 8px;
    border-radius: 50px;
    color: white;
    width: 40px;
    height: 40px;
  }
  .footer__header--redes--li {
    background: rgb(154, 191, 245);
    padding: 8px;
    border-radius: 50px;
    color: white;
    width: 40px;
    height: 40px;
  }
  .footer__section {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    gap: 40px;
  }
  .footer__section div {
    display: flex;
    flex-direction: column;
  }
  .footer__section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer__section form input {
    border: solid 2px white;
    padding: 10px 20px;
  }
}
.contacto__container {
  margin-top: 100px;
  font-family: "Aristotelica";
  font-size: 30px;
  color: darkmagenta;
  padding: 20px;
  text-align: center;
  padding: auto 0;
}

.buttons {
  margin: 40px;
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 50px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:hover, .servicios .container__card--contenido a.btn-hover:focus {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:focus {
  outline: none;
}
.btn-hover.color {
  margin: auto 0;
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b);
  box-shadow: 0 4px 15px 0 rgba(83, 5, 102, 0.75);
  font-family: Arial, Helvetica, sans-serif;
}

.portada {
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
}

.servicios {
  margin-top: 60px;
  padding: 0 20px;
}
.servicios__titulo, .ubicacionNewsletter__ubicacion--titulo {
  font-size: 30px;
  font-family: "Aristotelica";
  color: darkmagenta;
  text-align: center;
  padding: 70px 0;
}
.servicios .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  align-items: center;
}
.servicios .container__card {
  box-shadow: -5px 8px 8px 8px #615964;
  cursor: default;
  transition: all 0.3s;
  border-radius: 10px;
  background-color: #f5daf3;
  width: 100%;
  margin: 20px;
  /*border-radius: 6px;*/
  overflow: hidden;
}
.servicios .container__card:hover, .servicios .container__card--contenido a.container__card:focus {
  box-shadow: 5px 5px 50px rgb(100, 5, 100);
}
.servicios .container__card img {
  width: 100%;
  height: 210px;
}
.servicios .container__card--contenido {
  padding: 15px;
  text-align: center;
}
.servicios .container__card--contenido p {
  line-height: 1.5;
  color: #430246;
  font-family: "Fowviel";
}
.servicios .container__card--contenido h2 {
  font-weight: 400;
  margin-bottom: 15px;
  font-family: "Aristotelica";
  color: darkmagenta;
}
.servicios .container__card--contenido a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #57035f;
  border: 1px solid rgb(72, 4, 99);
  border-radius: 4px;
  transition: all 400ms ease;
}
.servicios .container__card--contenido a:hover, .servicios .container__card--contenido a:focus {
  background-color: #57035f;
  color: rgb(236, 212, 245);
}
.ubicacionNewsletter {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  justify-items: center;
}
.ubicacionNewsletter__ubicacion {
  display: flex;
  flex-direction: column;
  width: 92%;
}
.ubicacionNewsletter__ubicacion--titulo {
  margin-top: 25px;
  align-self: center;
}

.ubicacion__iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.ubicacion__iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  left: 30px;
  width: 100%;
  height: 100%;
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.newsletter__form--container {
  padding: 30px;
  display: block;
}
.newsletter__form--container--titulo {
  font-family: "Aristotelica";
  font-size: 45px;
  color: darkmagenta;
  padding: 20px;
}
.newsletter__form--container--titulo--txt {
  color: #6e0d59;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Fowviel";
}
.newsletter__form--cuerpo {
  display: block;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.newsletter__form input[type=text],
.newsletter__form input[type=submit] {
  display: block;
  padding: 10px;
  margin-top: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #3a033a;
  font-family: "Fowviel";
  width: 100%;
}
.newsletter__form input[type=checkbox] {
  margin-top: 16px;
}
.newsletter__form-boton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.newsletter__form input[type=submit] {
  min-width: 130px;
  width: 150px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 10px;
  z-index: 0;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #de73ec 10%, #650baa 75%);
  overflow: hidden;
  border: 2px solid #440241;
  color: #0d0114;
  font-size: 15px;
}
.newsletter__form input[type=submit]:hover {
  color: #f5daf3;
  background-position: right center;
  font-size: 18px;
}
.newsletter__form input[type=submit]:hover:after {
  height: 100%;
}
.newsletter__form input[type=submit]:active {
  top: 2px;
}
.newsletter__form span {
  font-family: "Fowviel";
  font-size: 20px;
}

@media (min-width: 900px) {
  .servicios__titulo, .ubicacionNewsletter__ubicacion--titulo {
    font-size: 45px;
  }
  .servicios .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .servicios .container__card {
    width: 50%;
    height: 500px;
  }
  .servicios .container__card h2 {
    margin-top: 30px;
  }
  .servicios .container__card p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .ubicacionNewsletter__ubicacion {
    margin-left: 35px;
  }
}
.container__port, .container__contacto, .portada__mk--container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*h1 {
  	display: flex;
  	align-items: $textali;
  	font-size: 50px;
  	position: absolute;
  	color: rgb(82, 5, 82);
  	text-shadow: -1px -1px 5px #eebdee,
         0 0 1px rgb(203, 148, 235),
         1px 1px 1px rgb(167, 44, 238),
         2px 2px 1px #555,
         3px 3px 1px #222,
         4px 4px 1px #000;
  }*/
}
.container__port img, .container__contacto img, .portada__mk--container img {
  width: 100%;
  max-height: 400px;
}

.container__info--consultoria h2 {
  font-size: 30px;
  font-family: "Aristotelica";
  color: darkmagenta;
  text-align: center;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 30px;
}

.container__info--consultoria--growth p, .container__info--consultoria--beneficios p {
  margin: 10px;
  font-size: 18px;
  font-family: "Fowviel";
  letter-spacing: 1px;
  color: #3c0b41;
  width: 90%;
  text-align: center;
}

.container__info--consultoria--growth, .container__info--consultoria--beneficios {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 50px;
  place-items: center;
}
.container__info--consultoria--growth--imagen, .container__info--consultoria--beneficios--imagen {
  margin: 30px;
  width: 85%;
  border-radius: 10px;
  outline: 3px solid rgb(107, 42, 107);
  box-shadow: 5px 5px 60px rgb(44, 15, 44);
  height: 90%;
}

.container__info--consultoria--beneficios--lista {
  margin-bottom: 50px;
}
.container__info--consultoria--beneficios--lista li {
  padding: 10px;
  width: 100%;
  font-size: 15px;
  font-family: "Fowviel";
  letter-spacing: 1px;
  color: #3c0b41;
  text-align: center;
}
.container__info--consultoria--beneficios--lista li::before {
  content: "✯";
  color: rgba(199, 16, 138, 0.8078431373);
  font-size: 30px;
  padding: 5px;
}

@media (min-width: 900px) {
  .container__info--consultoria--growth, .container__info--consultoria--beneficios {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .container__info--consultoria h2 {
    font-size: 40px;
    letter-spacing: 2px;
    margin: 50px;
  }
  .container__info--consultoria--growth p, .container__info--consultoria--beneficios p {
    font-size: 25px;
  }
  .container__info--consultoria--beneficios--lista li {
    font-size: 25px;
    text-align: left;
    letter-spacing: 1.5px;
  }
}
header ul {
  padding-left: 0;
}
header a {
  text-decoration: none;
}

.portada__mk--container {
  /*h1{
      color:rgb(180, 6, 157);
      text-shadow: -1px -1px 5px #131312,
      0 0 1px rgb(208, 167, 231),
      1px 1px 1px rgb(101, 82, 112),
      2px 2px 1px #555,
      3px 3px 1px #222,
      4px 4px 1px #000;
      text-align: center;
  }*/
}

.portada__mk--fondo {
  margin: 20px 20px;
  font-size: 20px;
  font-family: "Fowviel";
  letter-spacing: 1px;
  color: #3c0b41;
  width: 90%;
  text-align: center;
}

.col-sm-6 .col-md-4 {
  margin: auto 0;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 100px;
}

.card-img-top {
  overflow: hidden;
}

.row {
  align-items: center;
}

@media (min-width: 900px) {
  .portada__mk--fondo {
    padding-left: 55px;
    font-size: 30px;
  }
}
.introduccion__txt {
  margin: 30px;
  padding: auto 0;
  font-size: 18px;
  font-family: "Fowviel";
  inline-size: 1.5;
  color: rgb(53, 4, 46);
  text-align: center;
}

.container__tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  max-width: 1100px;
}

.tarjetas {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s;
  margin: 15px 20px;
}
.tarjetas:hover, .servicios .container__card--contenido a.tarjetas:focus {
  box-shadow: 0 5px 15px rgba(163, 5, 116, 0.5);
  transform: translateY(-15px);
}
.tarjetas__head {
  height: 125px;
  width: 100%;
  position: relative;
}
.tarjetas__head--circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #3a023f;
  bottom: 0;
}
.tarjetas__head--img {
  width: 150px;
  height: 150px;
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%);
}
.tarjetas__head--img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.tarjetas__descripcion {
  position: absolute;
  height: 250px;
  padding: 40px 20px 20px 20px;
  border-bottom: solid 1px rgba(6, 74, 76, 0.18);
  text-align: center;
}
.tarjetas__descripcion--titulo {
  font-family: "Aristotelica";
  text-align: center;
  color: darkmagenta;
}
.tarjetas__descripcion--txt {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Fowviel";
  color: #3c0b41;
}
.tarjetas__contact {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tarjetas__contact a {
  text-decoration: none;
  color: #fff;
  background: #157579;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

@media (min-width: 900px) {
  .introduccion__txt {
    margin: 60px;
    font-size: 25px;
  }
  .container__tarjeta {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
}
.container__contacto {
  padding: auto 0;
  /*h1{
        color:rgb(241, 149, 95);
        text-shadow: -1px -1px 5px #131312,
        0 0 1px rgb(64, 6, 97),
        1px 1px 1px rgb(109, 8, 109),
        2px 2px 1px #ddb7f7,
        3px 3px 1px #615151,
        4px 4px 1px #000;
        text-align: center;

    }   */
}

.titulo__form h2 {
  font-size: 30px;
  font-family: "Aristotelica";
  color: darkmagenta;
  text-align: center;
  margin: 50px;
  letter-spacing: 1.5px;
  font-size: 25px;
}

.container-formulario {
  padding: auto 0;
  margin: 40px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(196deg, #630f80 0%, #ca4b93 57%, #e80f65 100%);
  border-radius: 8px;
  padding: 15px;
}
.container-formulario label {
  color: #eec5f1;
  font-family: "Fowviel";
  font-size: 20px;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(241, 199, 241);
  border-radius: 6px;
  box-sizing: border-box;
  background: linear-gradient(196deg, rgba(231, 181, 251, 0.78) 0%, #f09ecc 57%, #ffe0ec 100%);
}

.boton-enviar {
  display: block;
  width: 150px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #bd48eb, #ec8c69, #e910a8, #fbb03b);
  box-shadow: 0 4px 15px 0 rgba(83, 5, 102, 0.75);
  font-family: Arial, Helvetica, sans-serif;
}
.boton-enviar:hover, .servicios .container__card--contenido a.boton-enviar:focus {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.boton-enviar:focus {
  outline: none;
}

@media (min-width: 900px) {
  .titulo__form h2 {
    font-size: 40px;
    text-align: center;
  }
  .container-formulario {
    margin-left: 120px;
    margin-bottom: 120px;
    width: 80%;
  }
}

/*# sourceMappingURL=main.css.map */
