.portada{
    margin-bottom: 40px;
    text-align: center;  
    font-size: 40px;
   
  }





.servicios {

    margin-top: 60px;
    padding: 0 20px;
    

        &__titulo {
         @include titulo;
         padding: 70px 0;

        }

 .container{

    width: $gen-width;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    align-items: center;

    &__card{

        @include cards;    
        width: $gen-width;
        margin:20px;
        /*border-radius: 6px;*/
        overflow: hidden;
        /*background-color: #f5daf3;
        box-shadow: 2px 2px 30px rgba(241, 56, 217, 0.4);
        cursor: default;
        transition: all 400ms ease;*/

        &:hover{
            box-shadow: 5px 5px 50px rgba(100, 5, 100, )}
        

        img{width: 100%;
            height: 210px;}

       &--contenido{
        padding: 15px;
        text-align: center;

        p{
            line-height: 1.5;
            color: #430246;
            font-family: "Fowviel";          
        }
        h2{
            font-weight: 400;
            margin-bottom: 15px;
            font-family: $fuente;
            color: $colortitulo;
        }
        a{
            display: inline-block;
            padding: 10px;
            margin-top: 10px;
            color:#57035f;
            border: 1px solid rgb(72, 4, 99);
            border-radius: 4px;
            transition: all 400ms ease;

            &:hover{
                background-color: #57035f;
                color: rgb(236, 212, 245);
            }
            &:focus{
                @extend:hover;
            }
        }
      }
     }
   }
 }

         ////////////newsletter y ubicacion//////////////////

//ubicacion///       

  .ubicacionNewsletter {
            @include display;
            align-content: center;
            gap: 20px;
            justify-items: center;
            &__ubicacion {
                
                @include display;
                
                width: 92% ;
                &--titulo {
                    @extend .servicios__titulo;           
                    margin-top: 25px;
                    align-self: center;
                }
            }
        }
  .ubicacion__iframe {

            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                left: 30px;
                width: $gen-width;
                height: 100%;
            }
        }
        
        
  //newsletter//

  

 .newsletter__form {
            @include display;
            @include alineamiento;
            width: $gen-width ;
            align-items: center;            
            max-width: 1200px;
            margin: 0 auto;

            &--container {
                padding: 30px;
                display: block;
            }
        
            &--container--titulo {
                font-family: $fuente;
                font-size: 45px;
                color: $colortitulo;
                padding: 20px;
                &--txt {
                    color: #6e0d59;
                    font-size: 20px;
                    margin-bottom: 15px;
                    font-family: $fuentenews;
                }
            }
            &--cuerpo {
                display: block;
                align-items: center;
                justify-content: center;
                width: 80%;
            }
        
        input[type=text], input[type=submit] {
            display: block;         
            padding: 10px;
            margin-top: 30px;
            box-sizing: border-box;
            border-radius: 10px;
            color: #3a033a;
            font-family: $fuentenews;
            width: $gen-width;
        }
        input[type=checkbox] {
            margin-top: 16px;
          
        }

        &-boton{

            width: $gen-width;
            display: flex;          
            justify-content: center; 
            margin: 0 auto;        



        }
        input[type=submit] {
            min-width: 130px;
            width: 150px;
            height: 40px;
            color: #fff;
            padding: 5px 10px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            display: inline-block;
            outline: none;
            border-radius: 10px;
            z-index: 0;
            background-size: 120% auto;
            background-image: linear-gradient(315deg, #de73ec 10%, #650baa 75%);            
            overflow: hidden;
            border: 2px solid #440241;
            color: #0d0114;
            font-size:15px ;

            &:hover{
                color: #f5daf3;
                background-position: right center;
                font-size: 18px;                

            }
            &:hover:after {
                height: 100%;
              }

            &:active {
                top: 2px;            

              }
    
            }      

        span{
            
                font-family: $fuentenews;
                font-size: 20px;
        }

    
    
 }

  
  //////*medias queries*///////
  @media (min-width: $queries) 
  {   //servicios y cards //

     .servicios__titulo{  

        font-size: 45px;
    
  }
  .servicios
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
 

    
    &__card{
        width: 50%;
    }
  }
  

///////ubicacion y newsletter/////
.ubicacionNewsletter__ubicacion {
    margin-left: 35px;
 }
   

}


 








  







