header{

  ul{
    padding-left: 0;
  }

  a{
    text-decoration: none;
  }

}
    
//////Portada////////   


.portada__mk--container{
    @extend .container__port;
    /*h1{
        color:rgb(180, 6, 157);
        text-shadow: -1px -1px 5px #131312,
        0 0 1px rgb(208, 167, 231),
        1px 1px 1px rgb(101, 82, 112),
        2px 2px 1px #555,
        3px 3px 1px #222,
        4px 4px 1px #000;
        text-align: center;
    }*/

}  
   
  .portada__mk--fondo {
    margin:20px 20px;  
	font-size: 20px;
	font-family: $fuentenews;
	letter-spacing: 1px;
	color:$colorparrafo;
	width: 90%;
	text-align: center;      
     
  
  }

  .col-sm-6 .col-md-4{ 
   
    margin: auto 0;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 100px;   


 }
 .card-img-top{

  overflow: hidden;

 }
.row{

  align-items: center;
}



  @media (min-width: $queries) {
    .portada__mk--fondo {
       
        padding-left: 55px;    
        font-size: 30px;
          }

         
        }

  