header{

  ul{
    padding-left: 0;
  }

  a{
    text-decoration: none;
  }

}
    
//////Portada////////   


.portada__mk--container{
    @extend .container__port;
    h1{
        color:rgb(180, 6, 157);
        text-shadow: -1px -1px 5px #131312,
        0 0 1px rgb(208, 167, 231),
        1px 1px 1px rgb(101, 82, 112),
        2px 2px 1px #555,
        3px 3px 1px #222,
        4px 4px 1px #000;
        text-align: center;
    }

}  
   
  .portada__mk--fondo {
    margin:20px 20px;  
	font-size: 20px;
	font-family: $fuentenews;
	letter-spacing: 1px;
	color:$colorparrafo;
	width: 90%;
	text-align: center;        
  
    
  
  }
 .col{ 
    height: 700px;


 }
  
  .container-fluid{   
  
    margin-top: 100px;
    margin-bottom: 100px;  
 
   
      

  }
  
  .card{

    margin-bottom: 50px;
    margin-left: 15px;
    overflow: auto;
    box-shadow: 16px -6px 25px 3px #A94E85;

    &-body h5{
        text-align: center;
        color: $colortitulo;
        height: 80px;
        padding-top: 15px;
    }
    &-text{

        text-align: center;
        color: $colorparrafo;
        font-family: $fuentenews;
        font-size: 20px;   


    }
   
  
  }
  
   


  @media (min-width: $queries) {
    .portada__mk--fondo {
       
        padding-left: 55px;    
        font-size: 30px;
          }
     .container-fluid{
      margin-left: 40px;
      margin-bottom: 20px;
     }

    .col{

        display: grid;
        gap: 20px;
       
    } 
    }